@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Thin-BETA.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraLight-BETA.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Light-BETA.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Inter';
    src: url('fonts/Inter-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}



/* typography */
*{
    font-family: 'Inter';
    font-weight:200 !important;
}

.footer *, nav *, a.text-reset, th, span.dtr-title, b{
    font-weight:400 !important;
}

h1{
    font-size: 60px;
}

@media (max-width:600px){
    h1{
        font-size: 45px !important;
    }
}

/**/

.bg-primary {
    background-color: #01579b !important;
}
.btn-primary {
    background-color: #01579b !important;
}

.form-errors{
    color:red !important;
}

#users_table{
    width:100%;
}

.crud-button-left,.crud-button-right{
    text-align:center;
}

@media (min-width:768px){
    .crud-button-left{
        text-align:left;
    }
    .crud-button-right{
        text-align:right;
    }
}

.sorting::after, .sorting_asc::after, .sorting_desc::after{
    content:none !important;
}
.sorting::before, .sorting_asc::before, .sorting_desc::before{
    content:none !important;
}

html,body{
    height:100%;
}

.main{
    min-height: 80vh;
}

.crud-icon{
width: 30px;
height: 30px;
background-color: #f0f0f0;
border-radius: 50px;
box-shadow: 0px 0px 7px 0px #888888;
margin:8px 8px 8px 8px;
transition: background-color 0.5s;
}

.crud-icon-edit:hover{
    background-color: #ffc107;
}

.crud-icon-delete:hover{
    background-color: #dc3545;
}

.crud-icon img{
    filter:invert(0%);
    transition: filter 0.4s;
}

.crud-icon:hover img{
    filter:invert(100%);
}

.btn{
    box-shadow:0px 0px 0px 0px;
    transition: box-shadow 0.3s;
}

.btn:hover{
    box-shadow: 0px 0px 7px 2px #888888;
}

.check{
    width:20px;
    height:20px;
    margin:8px 8px 8px 8px;
}
.check-th{
    background-image: unset !important;
    padding:10px 18px 10px 18px !important;
}
.check-th:after{
    content:none;
}
.check-th:before{
    content:none;
}

#table_bulk{
    max-width:200px;
}

li.paginate_button.page-item.active a{
    background-color: #01579b !important;
    border-color: #01579b !important;
}

#particles-js{
    position:absolute;
    z-index:-10;
    width:100%;
    height:99%;
}

.footer{
    background:linear-gradient(rgba(255,255,255,0) 20%,rgba(255,255,255,1) 80%);
}